.header {
    height: 80px;
    color: white;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    /*position: sticky;*/
    /*top: 0;*/
}

nav.header a {
    text-decoration: none;
    color: white;
    margin-left: 32px;
}

nav.header a:hover {
    color: orange;
}

.welcome-text {
    margin-left: 32px;
}

.text-white {
    color: white;
    margin-left: 32px;
}