.form-container {
    width: 430px;
    height: 600px;
    margin: 128px auto;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    box-shadow: -12px 12px 0 #FFE0B3;
}

.form-title {
    margin-top: 38px;
    margin-bottom: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
}

.form-control label {
    padding-left: 12px;
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    margin-bottom: 10px;
}

.form-control input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
}

.btn-submit {
    width: 100%;
    height: 55px;
    margin-top: 24px;
    background-color: rgba(255, 153, 0, 0.3);
    border: none;
    border-radius: 5px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.btn-submit:hover {
    background: rgba(255, 153, 0, 0.6);
    cursor: pointer;
}

.login-text {
    text-align: center;
    margin-top: 10px;
}

.login-text span {
    color: #FF9900;
}

.link {
    color: #FF9900;
    text-decoration: none;
}

.text-error {
    text-align: center;
    color: rgb(243, 89, 89);
    margin-top: 10px;
    padding-bottom: 30px;
}